<div id="main">
  <div class="container">
    <h1>Tutorial Henko</h1>

    <h3>Detalhe do Aplicativo</h3>

    <div id="detalhes-app">
      <b>Id: </b>{{ aplicativo.key }}

      <b>Nome: </b>
      <input type="text" [(value)]="aplicativo.nome">
    </div>

    <div class="col col-2">
      <button class="btn btn-primary my-2 my-sm-0" (click)="editar()">Salvar</button>
    </div>
    <div class="col col-2">
      <button routerLink="/" class="btn btn-outline-secondary my-2 my-sm-0">Voltar</button>
    </div>

  </div>
</div>